<div class="w3-row">
	<div class="w3-half">
		<div class="w3-tiny"
			data-ng-class="{'w3-green':oo.doc_id==request.parameters.tableId}">
			Структура таблиці: <a
				href="?jsonId={{request.parameters.jsonId}}&tab1=table_structur&tableId={{oo.doc_id}}"
				data-ng-if="!oo.reference"> {{oo.doc_id}}</a> <a
				href="?jsonId={{complex_types.map[oo.reference].parent}}&tab1=table_structur&tableId={{oo.reference}}"
				class="am-b" data-ng-if="oo.reference">
				{{complex_types.map[oo.reference].complex_type_name}}
				{{complex_types.map[oo.reference].parent}} <i
				class="fa fa-external-link" aria-hidden="true"></i>
			</a>
		</div>
		<table class="w3-card">
			<tr class="w3-tiny w3-blue-gray">
				<th data-ng-repeat="(ck,cv) in create_tables.col_keys">{{cv}}</th>
			</tr>
			<tr data-ng-repeat="tr in oo.children">
				<td data-ng-repeat="(ck,cv) in create_tables.col_keys"><span
					class="am-b" data-ng-if="'value'==ck">
						{{complex_types.map[tr.reference].complex_type_name}} </span> {{tr[ck]}}</td>
			</tr>
		</table>
	</div>
	<div class="w3-half">
		<div data-ng-repeat="tb in oo.children"
			data-ng-if="[27,37].indexOf(tb.doctype)>=0">
			{{tb.value}}
			<div data-ng-repeat="oo in [tb]" class=""
				data-ng-include="'/r/h/n2/c5/children_as_table_structur'"></div>
		</div>
	</div>
</div>