<div>
	<span class="w3-tiny am-b"> Таблиці: </span> <span
		data-ng-repeat="(k,v) in doc_data_workdata.elementsMap"
		data-ng-if="[18,27,37].indexOf(v.doctype)>=0"> <a
		href="?jsonId={{request.parameters.jsonId}}&tab1=table_data&tableId={{k}}"
		data-ng-class="{'w3-border-top w3-border-blue-gray':request.parameters.tableId==k}">
			{{k}} {{v.value}} </a> ,
	</span>
	<div>
		<table>
			<tr class="w3-tiny w3-blue-gray">
				<td><div class="w3-tiny w3-dropdown-hover w3-hover-shadow ">
						☰
						<div class="w3-dropdown-content w3-bar-block w3-border w3-tiny"
							style="left: -5px;">
							<div>
								<a href="#" ng-click="edit_table.addRow(table)"
									title="Додати запис" class="w3-button"><i
									class="fa fa-plus"></i></a>
							</div>
						</div>
				</div></td>
				<th data-ng-repeat="col in table.children">{{col.value}}</th>
			</tr>
			<tr data-ng-repeat="tr in table_data.list">
				<td><div class="w3-tiny w3-dropdown-hover w3-hover-shadow ">
						☰
						<div class="w3-dropdown-content w3-bar-block w3-border w3-tiny"
							style="left: -5px;">
							<div>
								<a href="#" ng-click="edit_table.editRow(tr)"
									title="Додати запис" class="w3-button"><i
									class="fa fa-pencil-square-o"></i></a> <a href="#"
									ng-click="edit_table.minusRow(tr)" title="Видалити запис"
									class="w3-button"><i class="fa fa-minus"></i></a> <a href="#"
									ng-click="edit_table.trashRow(tr)" data-ng-if="tr.toTrash"
									title="Видалити запис в корзину" class="w3-button w3-border w3-border-red"><i
									class="fa fa-trash-o"></i></a>
							</div>
						</div>
					</div></td>
				<td data-ng-repeat="col in table.children">
				{{tr['col_'+col.doc_id]}}
				</td>
			</tr>
		</table>
		<div ng-style="edit_table.ngStyleModal" class="w3-modal">
			<div class="w3-modal-content">
				<div class="w3-container"
					data-ng-include="'/r/h/n2/c5/json2table_table_data_edit'">a1</div>
				<span data-ng-click="edit_table.ngStyleModal={display:'none'}"
					class="w3-button w3-display-topright">&times;</span>
			</div>
		</div>
		<div class="w3-code w3-tiny">{{table}}</div>
	</div>
</div>
